@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,700|Saira+Condensed:200,400,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Muli', sans-serif;
}


/*** Navigation Menu ***/

header {
    background: url('../images/header-bg-2.jpg') no-repeat 75% 60%;
    background-size: cover;
    height: 100vh;
    position: relative;
}

nav {
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5% 1rem 10%;
    background-color: #424242;
    position: fixed;
    z-index: 2;
}

.logo img {
    height: 7.5rem;
}


.list-item {
    display: inline-block;
    line-height: 7.8rem;
    font-size: 2rem;
    transition: all .2s linear;
}

.list-item:not(:last-child) {
    margin-right: 3.5rem;
}

.active {
    border-bottom: solid 2px #fafafa;
}

.list-item a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 400;
}

.list-item:hover {
    border-bottom: solid 2px #fafafa;
}

.title {
    font-size: 8rem;
    width: 100%;
    color: #fafafa;
    font-weight: 700;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-down 1.2s forwards 1.5s;
    opacity: 0;
    padding-left: 10%;
}

.title span {
    font-size: 6rem;
    display: block;
    font-weight: 700;
    margin-top: 2rem;
    opacity: 0;
    animation: fade-in 3.5s forwards 2.7s;
    backface-visibility: hidden;
}

/*** Footer ***/

footer {
    padding: 5rem 10% 0 10%;
    font-family: "Saira Condensed", sans-serif;
    color: #fafafa;
    background-color: #424242;
    text-align: center;
}

.logo-footer img {
    display: block;
    margin: 0 auto;
    height: 15rem;
    padding-top: 3rem;
}

footer h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1rem 0;
}

footer p {
    font-size: 1.8rem;
}

.social-links{
    font-size: 3rem;
}

.social-links a {
    color: inherit;
}

.social-links a:not(:last-child) {
    margin-right: 4.5rem;
}

.addresses {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem 0;
}

.newsletter {
    text-align: center;
}

input[type=email] {
    padding: 1rem 4rem;
    margin-bottom: 3rem;
    font-family: inherit;
    text-align: inherit;
    font-size: 1.6rem;
}

.checkbox {
    font-size: 1.4rem;
}

.privacy-policy {
    color: inherit;
}

button {
    font-family: inherit;
    background-color: #838383;
    border: none;
    padding: 1rem 5rem;
    margin: 3rem 0;
    font-size: 2rem;
    color: #fafafa;
}

.credits {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}




/*** Keyframes ***/

@keyframes fade-down {
    from {
        opacity: 0;
        position: absolute;
        top: 30%;
    }

    to {
        opacity: 1;
        position: absolute;
        top: 40%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}






